body{
    padding: 0;
    margin: 0 ;
}

.contenedor ul{

    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0;

}
ul li{
    width: 50%;

    padding: 10px;
    font-weight: bold;
    border: solid rgb(236, 236, 236) 1px;
    border-radius: 10px ;
    background-color: rgb(242, 246, 246);
    color: rgb(182, 180, 180);
}
ul li:focus{
    background-color:white;
    color: rgb(77, 77, 77);
}
