.card {
    margin: 10px auto;
    float: none;
    margin-bottom: 10px;
    width: 50%!important;
    min-width: 300px;
    height: 600px;
}
img{
    width: 80%;
    margin-left: 10px;
    margin: 2rem auto;
    border-radius: 1rem;
    height: 70%;
    object-fit: cover
}
